<h1>Users list</h1>

<% if @users.any? %>
  <ul>
    <% @users.each do |user| %>
      <li>
      <%= render 'shared/user_card', user: user %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No users created yet !!</p>
<% end %>
