<%= render 'shared/user_card', user: @user %>
<h3>Bio</h3>
<p><%= @user.bio %></p>
<% if @user.recent_posts.any? %>
  <ul>
    <% @user.recent_posts.each do |post| %>
      <li>
      <%= render 'shared/post_card', post: post %>
      </li>
    <% end %>
    <%= link_to "See all posts", user_posts_path(@user) if @user.posts_counter > 0 %>
  </ul>
<% else %>
  <p>No posts created by this user yet !!</p>
<% end %>

