<div>
<h3><%= post.title %></h3>
<p><%= post.text %></p>
<div>
    <span>comments: <strong><%= post.comments_counter %></strong></span>
    <span>likes: <strong><%= post.likes_counter %></strong></span>
</div>
</div>