/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.center_with_margin {
  width: 90%;
  margin: auto;
}

.flex_horizontal {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.display_flex {
  display: flex;
  align-items: center;
}

.post_header {
  width: 100%;
}

.post_title {
  margin: 0;
}

ul {
  list-style-type: none;
}

.liked-button {
  background-color: green;
}

.not-liked-button {
  background-color: red;
}
